/* IMPOSTAZIONI GENERALI */

body{
    background-image: url(../img/sfondo.png);
}

h2{
    font-weight: 650;
    font-size: 30px;
}

code{
  background-color: #E1E1E1;
  border: 1px solid gray ;
  line-height: 2;
}

caption{
    font-weight: 650;
    font-style: italic;
}

th{
    color: white;
    background-color: #4667C1;
    padding: 15px;
    border: 1px solid #DBDCDC;
}

tr{
    color: black;
    background-color: white;
    padding: 40px;
    border: 1px solid #DBDCDC;
    text-align: center;
}

td{
    padding: 15px;;
}
/* HEADER */

.header-cont{
  width: 30%;
  margin: 30px auto 30px;
  background-color: #3B88A8;
}

.p-20{
    padding: 20px;
}

.p-4{
    padding: 4px;
}
.text-center{
    text-align: center;
}

.font{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.text-white{
    color: white;
}

.nav-text{
    text-decoration: none;
}

.bold{
    font-weight: 500;
}



/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */
.article-cont{
    width: 30%;
    margin: 30px auto 30px;
    background-color: white;
    border: 1px solid #DBDCDC;
}

.p-b20{
    padding-bottom: 20px;
}

.author{
    color: #BAB9B9;
}

.purple-text{
    color: #C0879B;
    font-weight: 500;
}

.ul-style{
    list-style-type: disc;
    margin-left: 35px;
}

.ol-style {
  list-style-type: decimal;
  margin-left: 35px;
  line-height: 2;
}

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
